NEUROFLOW_ENVIRONMENT=dev

NEUROFLOW_API__HOST=0.0.0.0
NEUROFLOW_API__PORT=8000
NEUROFLOW_API__RELOAD=true

NEUROFLOW_DATABASE__URL=postgresql+asyncpg://neuroflow:neuroflow@127.0.0.1:5433/neuroflow_sync
NEUROFLOW_DATABASE__CHECK_ON_STARTUP=false
